<div data-ng-controller="HomeController as ul">
    <div class="row">
        <div class="col-md-12">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-display-1 text-center">
                            Inventario
                            <md-button  style="display:inline-block;" class="md-fab md-mini md-primary pull-right">
                                <md-tooltip md-direction="top">Agregar Venta</md-tooltip>
                                <md-icon class="material-icons">add_shopping_cart</md-icon>
                            </md-button>
                            <md-button ng-click="showFormuFactura($event)" style="display:inline-block;" class="md-fab md-mini md-primary pull-right">
                                <md-tooltip md-direction="bottom">Agregar Factura</md-tooltip>
                                <md-icon class="material-icons">note_add</md-icon>
                            </md-button>
                        </span>
                    </md-card-title-text>
                </md-card-title>
                <hr>
                <div class="width90">
                    <md-input-container class="md-icon-float md-block">
                        <!-- Use floating label instead of placeholder -->
                        <md-icon class="material-icons">search</md-icon>
                        <input placeholder="Filtrar por texto" ng-model="filtroInventario" type="text">
                        <md-icon ng-show="filtroInventario.length > 0" ng-click="clearFiltro()" class="material-icons" style="display:inline-block;">clear</md-icon>
                    </md-input-container>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Column heading</th>
                                <th>Column heading</th>
                                <th>Column heading</th>
                                <th>Column heading</th>
                                <th>Column heading</th>
                                <th>acciones</th>
                            </tr>
                            </thead>
                            <tbody class="text-center">
                            <tr>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>
                                    <button class="mdl-button mdl-js-button mdl-button--icon">
                                        <i class="material-icons">visibility</i>
                                    </button>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    {{facturas}}
                </div>
            </md-card>
        </div>
    </div>

    <!-- formulario de facturas -->
    <script type="text/ng-template" id="formuFactura.tmpl.html">
        <md-dialog aria-label="Mango (Fruit)"  class="sizeDialogo" ng-cloak>
            <form>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Agregar una nueva factura</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="cancel()">
                            <md-icon class="material-icons" aria-label="Close dialog">clear</md-icon>
                        </md-button>
                    </div>
                </md-toolbar>

                <md-dialog-content>
                    <div class="md-dialog-content text-center">
                        <md-input-container class="md-block marginBajo">
                            <label>Codigo de Factura</label>
                            <md-icon class="material-icons">dialpad</md-icon>
                            <input ng-model="codigoFactura" type="text" ng-required="true">
                        </md-input-container>
                        <div ng-show="products.length > 0">
                            <md-card class="cardProducts">
                                <h6 class="marginBajo">Productos</h6>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Codigo</th>
                                            <th>Nombre</th>
                                            <th>Cantidad</th>
                                            <th>PrecioT</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody class="text-center">
                                        <tr ng-repeat="pr in products track by $index">
                                            <td>{{pr.codigo}}</td>
                                            <td>{{pr.name}}</td>
                                            <td>{{pr.cantidad}}</td>
                                            <td title="Precio Total {{pr.cantidad}} * {{pr.precioU}}">{{pr.cantidad * pr.precioU}}</td>
                                            <td><a href="#" ng-click="removeProduct(pr.codigo)"><md-icon class="material-icons">delete</md-icon></a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </md-card>
                            <br>
                            <md-divider></md-divider>
                        </div>
                        <div class="width80" ng-show="formuProduct">
                            <form>
                                <a name="formularioProducto"></a>
                                <h6 class="marginBajo leftText" style="margin-bottom:20px !important;" >Nuevo Producto</h6>
                                <md-input-container class="md-block marginBajo">
                                    <label>Codigo del Producto</label>
                                    <md-icon class="material-icons">shopping_basket</md-icon>
                                    <input ng-model="product.codigo" type="text" ng-required="true">
                                </md-input-container>
                                <md-input-container class="md-block marginBajo">
                                    <label>Nombre del Producto</label>
                                    <md-icon class="material-icons">format_size</md-icon>
                                    <input ng-model="product.name" type="text" ng-required="true">
                                </md-input-container>
                                <md-input-container class="md-block marginBajo">
                                    <label>Cantidad</label>
                                    <md-icon class="material-icons">content_copy</md-icon>
                                    <input ng-model="product.cantidad" type="number" ng-required="true">
                                </md-input-container>
                                <md-input-container class="md-block marginBajo">
                                    <label>Precio Unitario</label>
                                    <md-icon class="material-icons">attach_money</md-icon>
                                    <input ng-model="product.precioU" type="number" ng-required="true">
                                </md-input-container>
                                <md-button ng-show="error.length > 0" ng-click="error = ''" class="md_raised md-warn"><md-icon class="material-icons">warning</md-icon> {{error}}</md-button>
                                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                                    <md-button ng-show="formuProduct" type="submit" href="#" ng-click="addProduct(product)" class="md-raised md-primary">
                                        <md-tooltip md-direction="bottom">Guarda Producto</md-tooltip>
                                        <md-icon class="material-icons">done</md-icon>
                                    </md-button>
                                    <md-button ng-show="formuProduct" href="#" ng-click="cancelProduct()" class="md-accent md-raised md-hue-1">
                                        <md-tooltip md-direction="bottom">Cancelar Prodcuto</md-tooltip>
                                        <md-icon class="material-icons">clear</md-icon>
                                    </md-button>
                                </section>
                            </form>
                        </div>
                        <md-button ng-hide="formuProduct" href="#formularioProducto" ng-click="openFormuPro()" class="md-raised md-primary">
                            <md-tooltip md-direction="bottom">Agregar Producto</md-tooltip>
                            <md-icon class="material-icons" >add</md-icon>
                        </md-button>
                    </div>
                    <section layout="row" layout-align="center end">
                        <md-button ng-show="error.length > 0" ng-click="error = ''" class="md_raised md-warn"><md-icon class="material-icons">warning</md-icon> {{error}}</md-button>
                    </section>
                    <br>
                    <md-divider></md-divider>
                    <div layout="row"  layout-align="space-around end">
                        <md-button class="md_raised md-warn" ng-click="cancel()">
                            cancelar
                        </md-button>
                        <md-button class="md_raised md-primary" ng-click="answer(codigoFactura,products)">
                            agregar factura
                        </md-button>
                    </div>
                </md-dialog-content>

            </form>
        </md-dialog>
    </script>
    <!--<div class="fixed menuFab">
        <md-fab-speed-dial md-open="false" md-direction="right" class="md-scale" ng-click="tooltipOn()">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab md-warn">
                    <md-icon class="material-icons">add</md-icon>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <md-button aria-label="Twitter" class="md-fab md-raised md-mini">
                    <md-tooltip md-direction="bottom" md-visible="tooltipVisible"  md-autohide="false">Agregar Factura</md-tooltip>
                    <md-icon class="material-icons">description</md-icon>
                </md-button>
                <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
                    <md-tooltip md-direction="bottom" md-visible="tooltipVisible"  md-autohide="false">Agregar Venta</md-tooltip>
                    <md-icon class="material-icons">shopping_cart</md-icon>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>-->
    </div>

</div>


